[submodule "flutter_demo"]
	path = flutter_demo
	url = https://github.com/hpsoar/flutter_demo.git
[submodule "flutter_utils"]
	path = flutter_utils
	url = https://github.com/hpsoar/flutter_android.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/hpsoar/widgets_android.git
[submodule "core"]
	path = core
	url = https://github.com/hpsoar/android_utils.git
[submodule "network"]
	path = network
	url = https://github.com/hpsoar/network_android.git
